<!DOCTYPE html>
<html>
<head>
  <title>Pull request ai</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'pull_request_ai/application', media: 'all' %>
  <%= javascript_include_tag 'application.js' %>
</head>
<body>

<%= yield %>

</body>
</html>
