<div>
  <h2><strong>Pull Request AI</strong></h2>

  <p id='error-field'></p>

  <div>
    <%= label_tag 'Destination Branch' %>
    <%= select_tag :branch, options_for_select(@branches), { id: 'branch-field' } %>
  </div>

  <div>
    <%= label_tag 'Pull Request Type' %>
    <%= select_tag :type, options_for_select(@types), { id: 'type-field' } %>
  </div>

  <div>
    <%= button_tag 'Next', { id: 'description-request-btn' } %>
  </div>
</div>

<%= javascript_include_tag 'application.js' %>
