<div class='clear'>
  <h2 class='mb-50 flex-center'><strong>Pull Request AI</strong></h2>

  <p id='error-field' class='mt-20'>
    <%= @error_message %>
  </p>

  <div>
    <div class='mt-20 mr-20 ib'>
      <%= label_tag :destination_branch, 'Destination Branch' %>
      <%= select_tag :branch, options_for_select(@branches || []), { id: 'branch-field', class: 'block mt-10' } %>
    </div>

    <div class='mt-20 ib'>
      <%= label_tag :type, 'Pull Request Type' %>
      <%= select_tag :type, options_for_select(@types), { id: 'type-field', class: 'block mt-10 w-130' } %>
    </div>
  </div>

  <div class='flex-center mt-20'>
    <%= button_tag 'Confirm', { id: 'description-request-btn', class: 'mt-20' } %>
  </div>

  <div id='create-pr-container' class='hide mt-20'>

    <%= hidden_field_tag 'open_pr_number', '' %>

    <div id='pr-title-container' class='mt-20 mb-20'>
      <%= label_tag :pr_title, 'Pull Request Title:' %>
      <%= text_field_tag :pull_request_title, '', { id: 'pr-title-field', class: 'block mt-5 fw' } %>
    </div>

    <div>
      <%= label_tag :suggested_description, 'ChatGPT Suggested Description' %>
      <%= text_area_tag :description, '', { id: 'description-field', class: 'block mt-5' } %>
    </div>

    <%= button_tag 'Copy to Clipboard', { id: 'clipboard-btn', class: 'mt-5 mb-20 right' } %>

    <div id='opened-pr-container' class='hide mt-20'>
    
      <%= button_tag 'Copy suggestion to submission', { id: 'copy-suggestion-pr-btn', class: 'mb-20' } %>

      <div>
        <%= label_tag :submission_description, 'Description for Submission' %>
        <%= text_area_tag :description, '', { id: 'current-description-field', class: 'block mt-5' } %>
      </div>

    </div>

    <div id='actions-container' class='mt-20'>
      <%= button_tag 'Reset', { id: 'reselect-pr-btn', class: 'mt-20' } %>

      <%= button_tag 'Create Pull Request', { id: 'create-pr-btn', class: 'mt-20' } %>

      <%= button_tag 'Update Pull Request', { id: 'update-pr-btn', class: 'mt-20' } %>
    </div>

    <p id='feedback-field' class='mt-20'/>
  </div>
</div>

<div id='loading-container' class='hide mt-20'>
  <div class='spinner'></div>
</div>

<%= javascript_include_tag 'application.js' %>
